
{% extends "profile\layout\base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Profile Perusahaan
{% endblock %}

{% block css %}
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
  	api_key:   866hc1so0n9js9
  	onLoad:    onLinkedInLoadCompany
  	authorize: true
  </script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/fitur2.css' %}" />
{% endblock %}

{% block content %}
  <section style="height: auto;">
    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">WELCOME</h1>
          <h2 class="display-4 text-white" id="companyName"><center>Perusahaan <center></h2>
            <br>
            <p align = "center">
            <img src=http://cliparting.com/wp-content/uploads/2016/11/Small-office-building-clipart-kid.jpg widht="200" height="200" align = "center">
          </p>
          <br>
          <a href="#" class="head-button"><center>Lihat Forum</center></a>
          <a href="#" class="head-button"><center>            Cari Mahasiswa<center></a>
        </div>
      </div>
    </header>

    <div class="container" style="margin-top: 4%;" id="about-company-section">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto">
          <h2 id="title-about">About Company:</h2>
          <div id="about"></div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-4 col-4" id="judul-about">
              <h5 id="about-company">Tipe Perusahaan</h5>
              <h5 id="about-company">Web Perusahaan</h5>
              <h5 id="about-company">Spesialitas</h5>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-4 col-8">
              <h5 id="companyType"> Non Profit</h5>
              <h5 id="companyWeb"> google.com</h5>
              <!-- : <a href="https://{{companyWeb}}">{{companyWeb}}<a> -->
              <h5 id="companySpecialty">Web Berbasis Zakat</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/fitur1.js' %}"></script>
{% endblock %}
